@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post" action="~/Forms/Register">
    <table style="margin-left:30%">

        <tr>
            <td>Логин:</td>
            <td><input type="text" name="Login" /></td>
</tr>
        <br />
        <tr>
            <td>Пароль:</td>
            <td><input type="password" name="Password" /></td>
</tr>
        <br />
        <tr>
            <td>Имя:</td>
            <td><input type="text" name="Name" /></td>
        </tr>
        <br />
        <tr>
            <td>Email:</td>
            <td><input type="email" name="Email" /></td>
        </tr>
        <br />
        <tr>
            <td>Аватар URL:</td>
            <td><input type="url" name="PathToAvatar" /></td>
        </tr>
        <br />
        <td><input type="submit" value="Зарегистрироваться" /></td>

    </table>
</form>